<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form v-on:submit.prevent="handleForm">
            <label>firstName</label>
            <input type="text" v-model.trim="dataPerson.firstName">
            {{ dataPerson.firstName }}
            <hr>

            <label>lastName</label>
            <input type="text" v-model="dataPerson.lastName">
            {{ dataPerson.lastName }}
            <hr>

            <label>Age</label>
            <input type="text" v-model.number="dataPerson.age">
            {{ dataPerson.age }}
            <hr>

            <label>Checkbox</label>
            <input type="checkbox" id="myCheckbox" v-model="dataPerson.checked">
            {{ dataPerson.checked }}
            <hr>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
<script>
    const App = {
        data() {
            return {
                dataPerson: {
                    firstName: '',
                    lastName: '',
                    age: '',
                    checked: false
                }
            }
        },
        methods: {
            handleForm() {
                console.log(this.dataPerson.firstName)
                console.log(this.dataPerson.lastName)
                console.log(this.dataPerson.age)
                console.log(this.dataPerson.checked)
            }
        },
    }
    Vue.createApp(App).mount('#app')
</script>
</html>